### REWRITES AND REDIRECTS
# REQUEST METHODS: GET,POST,PUT,DELETE,CONNECT,OPTIONS,PATCH,PROPFIND,
#                  PROPPATCH,MKCOL,COPY,MOVE,LOCK,UNLOCK

## REWRITE DEFAULTS
RewriteEngine On
RewriteBase /


## SEO REDIRECTS
Redirect 301 /article/hello-world/ /work.html