---
layout: default
---

<div class="articles">
    {% for post in paginator.posts %}
    <article class="article">

        <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <sub>{{ post.date | date: "%B %e, %Y" }}</sub>
        </h1>

        <div class="entry">
            {{post.x}}
            {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}

</div>
<div class="articles-tail">
    {% if paginator.next_page %}
        <a href="/list/{{ paginator.next_page }}" class="next-page">load more articles</a>
    {% else %}
        <span>no more article</span>
    {% endif %}
</div>
