---
layout: default
---

<div class="articles">
    {% for post in paginator.posts %}
    <article class="article">
        <a class="title" href="{{ site.baseurl }}{{ post.url }}/">{{ post.title }}</a>
        <div class="excerpt">
            {{ post.excerpt | strip_html}}
        </div>
        <div class="footer">
            <!-- <span>{% for tag in post.tags %}<span>{{ tag }}|</span>{% endfor %}</span> -->
            <span class="date icon icon-clock">{{ post.date | date: "%B %e, %Y" }}</span>
            <span class="icon icon-comment"><span class="cy_cmt_count" id="sourceId::{{ post.url }}"></span></span>
            <!--<span class="icon icon-read-more"><a class="read-more" href="{{ site.baseurl }}{{ post.url }}">Read More</a></span>-->
        </div>

    </article>
    {% endfor %}

</div>
<div class="articles-tail">
    <a href="/archive">See articles archive</a>
</div>
<script id="cy_cmt_num" src="http://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cyrHvP6IQ"></script>