---
layout: default
---

<div class="articles">
    {% for post in paginator.posts %}
    <article class="article">
        <a class="title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="excerpt">
            {{ post.excerpt }}
        </div>
        <div class="footer">
            <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
            <span><a class="read-more" href="{{ site.baseurl }}{{ post.url }}">Read More</a></span>
        </div>

    </article>
    {% endfor %}

</div>
<div class="articles-tail">
    {% if paginator.next_page %}
    <a href="/list/{{ paginator.next_page }}" class="next-page">Load more articles</a>
    {% else %}
    <span>no more article</span>
    {% endif %}
</div>
