    {% if site.social-links.mail %}
            <a target="_blank" href="mailto:{{ site.social-links.mail }}"><i class="icon icon-mail"></i></a>
    {% endif %}
    {% if site.social-links.github %}
            <a target="_blank" href="http://github.com/{{ site.social-links.github }}"><i class="icon icon-github"></i></a>
    {% endif %}
    {% if site.social-links.rss %}
            <a target="_blank" href="{{ site.baseurl }}/feed.xml"><i class="icon icon-rss"></i></a>
    {% endif %}
    {% if site.social-links.weibo %}
            <a target="_blank" href="http://weibo.com/{{ site.social-links.weibo }}"><i class="icon icon-weibo"></i></a>
    {% endif %}
