    {% if site.social-links.mail %}
            <a target="_blank" href="mailto:{{ site.social-links.mail }}"><img src="{{site.baseurl}}/svg-icons/mail.svg"></a>
    {% endif %}
    {% if site.social-links.github %}
            <a target="_blank" href="http://github.com/{{ site.social-links.github }}"><img src="{{site.baseurl}}/svg-icons/github.svg"></a>
    {% endif %}
    {% if site.social-links.rss %}
            <a target="_blank" href="{{ site.baseurl }}/feed.xml"><img src="{{site.baseurl}}/svg-icons/rss.svg"></a>
    {% endif %}
    {% if site.social-links.weibo %}
            <a target="_blank" href="http://weibo.com/{{ site.social-links.weibo }}"><img src="{{site.baseurl}}/svg-icons/weibo.svg"></a>
    {% endif %}
