// Colors
$black: black;
$gray: #333;
$lightGray: #eee;
$code-gray: #888;
$blue: #0074d9;
$tomato: tomato;
$white: white;

// Sizes
$header-height: 15em;

// Fonts
$font-base: 'Ideal Sans A', "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
$font-code: Courier, Monaco, sans-serif;

// Breakpoints
@mixin sm {
  @media screen and (max-width: 48em) {
    @content;
  }
}