//
// VARIABLES
//

// Colors
$blue: #1F3A93;
$tomato: tomato;
// Grays
$black: #343434;
$darkerGray: #222;
$darkGray: #22313F;
$gray: #666;
$lightGray: #eee;
$white: white;


// Sizes
$header-height: 15em;

// Fonts
$font-base: 'Ideal Sans A', "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
$font-code: Courier, Monaco, sans-serif;

// Mobile breakpoints
@mixin sm {
  @media screen and (max-width: 48em) {
    @content;
  }
}