<!DOCTYPE html>
<!-- <html itemscope itemtype="http://schema.org/Blog"> -->
<html>
<head>
    <meta charset="utf-8"/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/fav/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/fav/manifest.json">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/images/fav/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- <meta itemprop="name" content="Gulp explained">
    <meta itemprop="description" content="谈谈gulp的api">
    <meta itemprop="image" content="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp.png">

    <meta name="author" content="{{ site.author }}"/>
    <meta name="keywords" content="{% if page.tags %}{% for tag in page.tags %}{{ tag }},{% endfor %}{% endif %}web,dev" />
 -->
    <meta name="baidu-site-verification" content="26UYXTFaWE" />
    <meta name="google-site-verification" content="u4rfI_1wrZTCuxfjRY_z4xoO5WvPZLl1StUJsMdPf6E" />
    <!-- SEO -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}" />
    <meta property="og:locale" content="zh_CN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="article:publisher" content="https://www.github.com/gimm" />
    <meta property="og:image" content="{{ site.url }}/images/fav/apple-touch-icon-180x180.png" />
    <script type='application/ld+json'>{ "@context": "http://schema.org","@type": "WebSite","url": "{{ site.url }}","potentialAction": {"@type": "SearchAction","target": "{{ site.url }}/?s={search_term}","query-input": "required name=search_term"}}</script>

    <link rel="stylesheet" type="text/css" href="/style.css"/>

    <title>{% if page.title %}{{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
</head>

<body>

<header>
    <div class="container">
        <div class="social-links top">
            {% include svg-icons.html %}
        </div>
        <div class="brand">
            <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a><sub>with a <a href="/about">web head</a></sub></h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/archive">Articles</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </div>
    </div>
</header>

<div role="main" class="container">
    {{ content }}
</div>
<footer>
    <div class="container" id="about">
        <h3></h3>

        <p>I am a web developer from Wuhan, China. I <a href="/works">make things</a> for the web and
            write about them <a href="{{ site.baseurl }}/">here</a>.</p>

        <p>Got any interesting idea or a project to talk about or just want to say Hi? drop me a line on <a
                href="mailto:{{site.email}}">{{site.email}}</a>.</p>
        <hr>
        <div class="baseline">
            <span>©2014</span>
            <span class="social-links bottom">{% include svg-icons.html %}</span>
            <span><a href="#">&lt;/web head&gt;</a></span>
        </div>
    </div>
</footer>
<!--<script src="{{ site.baseurl }}/scripts/main.js"></script>-->
</body>
</html>
