<!DOCTYPE html>
<!-- <html itemscope itemtype="http://schema.org/Blog"> -->
<html>
<head>
    <meta charset="utf-8"/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.cnd }}/images/fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.cnd }}/images/fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.cnd }}/images/fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.cnd }}/images/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.cnd }}/images/fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.cnd }}/images/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.cnd }}/images/fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.cnd }}/images/fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.cnd }}/images/fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.cnd }}/images/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.cnd }}/images/fav/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.cnd }}/images/fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.cnd }}/images/fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.cnd }}/images/fav/manifest.json">
    <link rel="shortcut icon" href="{{ site.cnd }}/images/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ site.cnd }}/images/fav/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ site.cnd }}/images/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="baidu-site-verification" content="EzbMIqSuG4" />
    <meta name="google-site-verification" content="axJ-MTktrtg-sSBuiLNL6zsG7Ycuij85iMaqKzc0j8s" />
    <meta name="google" content="notranslate" />
    <!-- SEO -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}" />
    <meta property="og:locale" content="zh_CN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="article:publisher" content="https://www.github.com/gimm" />
    <meta property="og:image" content="{{ site.url }}/images/fav/apple-touch-icon-180x180.png" />
    <script type='application/ld+json'>{ "@context": "http://schema.org","@type": "WebSite","url": "{{ site.url }}","potentialAction": {"@type": "SearchAction","target": "{{ site.url }}/?s={search_term}","query-input": "required name=search_term"}}</script>

    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>

    <title>{% if page.title %}{{ page.title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
</head>

<body>
{% include icons.svg %}
<header>
    <div class="container">
        <a class="logo" href="/">
            <svg>
                <use xlink:href="#icon-logo"></use>
            </svg>
        </a>
        {%unless page.title%}
        <h1>
            <a href="{{ site.baseurl }}/">{{site.name}}</a>
            <sub>- {{site.description}} -</sub>
        </h1>
        {%endunless%}
        {%if page.title%}
        <h2>
            <a href="{{ site.baseurl }}/">{{page.title}}</a>
            <sub>{{ page.date | date: "%B %e, %Y" }}</sub>
        </h2>
        {%endif%}
    </div>
</header>

<div role="main" class="container">
    {{ content }}
</div>
<footer>
    <div class="container">
        <div>
            <h3>More</h3>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
            </ul>
        </div>
        <div>
            <h3>Social</h3>
            <ul>
                <li><a target="_blank" href="https://github.com/{{ site.social-links.github }}">Github</a></li>
                <li><a target="_blank" href="http://www.weibo.com/{{ site.social-links.weibo }}">Weibo</a></li>
                <li><a target="_blank" href="mailto:{{ site.social-links.mail }}">Email</a></li>
            </ul>
        </div>
        <div>
            <h3>Works</h3>
            <ul>
                <li><a target="_blank" href="http://unblock.github.io/google/">Google Luck</a></li>
                <li><a target="_blank" href="https://www.npmjs.com/package/gulp-live-server">Gulp Live Server</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="/scripts/loader.js" async></script>
<!--<link rel="stylesheet" type="text/css" href="/styles/font.css"/>-->
</body>
</html>
