---
layout: redirect
---

<article class="article">
    <div class="title">{{ page.title }}</div>
    <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
    <div class="content">
        {{ content | markdownify }}
    </div>
</article>
{% if site.related_posts %}
    <div class="related-articles">
        <h3>Related:</h3>
        {% for post in site.related_posts %}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
    </div>
{% endif %}
<div class="comments">
    <div class="show-comment-link">Show Comments</div>

    <div id="disqus_thread"></div>
</div>
