---
layout: redirect
---

<article class="article">
    <div class="title">{{ page.title }}</div>
    <div>
        <span class="icon icon-clock">{{ page.date | date: "%B %e, %Y" }}</span>
    </div>

    <div class="content">
        {{ content }}
    </div>
</article>
{% if site.related_posts %}
    <div class="related-articles">
        <h3>Related:</h3>
        {% for post in site.related_posts %}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
    </div>
{% endif %}
<div class="comments">
    <div class="show-comment-link"><span class="icon icon-comment">Show Comments</span></div>

    <div id="disqus_thread"></div>
</div>
