---
---

//
// IMPORTS
//
@import "_variables";
@import "_base";
@import "_layout";
@import "_shame";

/**************/
/* BASE RULES */
/**************/


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// header
//
path:hover{
  fill:$blue;
}
header {
  .logo{
    display: block;
    text-align: center;
    svg{
      width: 50px;
      height: 50px;
      &:hover, &:active{
        padding: 5px;
        box-shadow: 0 0 5px $gray;
    }
    }
  }

  %title{
    text-align: center;
    color: $black;
    font: italic bold 100px Georgia, Serif;
    padding: .5em 0;
    a {
      @extend a;
      color: $black;
    }
    sub {
      color: $gray;
      font-size: .5em;
      padding-top: .5em;
      font-weight: normal;
      font-style: italic;
      display: block;
    }
  }
  h1 {
    @extend %title;
    font-size: 3em;
    a{
      text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    }
  }
  h2{
    @extend %title;
    font-size: 2em;
  }

  @include sm {
    h1 > sub{
      display: none;
    }
  }
}

//
// main
//
.articles {
  .article:not(:last-child) {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
  }

  .article {
    .title {
      font-size: 1.5em;
      display: inline-block;
      padding-top: 1em;
    }
    .excerpt {
      padding-bottom: 1em;
      line-height: 1.2;
      pre {
        overflow: hidden;
      }
      img {
        display: none;
      }
    }
    .footer {
      opacity: .6;
      & > span:not(:first-child){
        margin-left: 1em;
      }
    }
    &:hover, &:active {
      .footer {
        opacity: 1;
      }
    }
  }
}

.articles-tail {
  text-align: center;
  padding-top: 1em;
}

.article {
  .title {
    font-size: 1.5em;
    display: inline-block;
    padding: .5em 0;
  }
  .content {
    padding: 1em 0;
    line-height: 1.5em;
    h2 {
      margin: 1em 0 .5em;
      font-size: 1.5em;
      a {
        text-decoration: none;
      }
    }
    h3 {
      margin: 1em 0 .5em;
      font-size: 1.2em;
    }
    a {
      text-decoration: underline;
      word-break: break-all;
      color: $blue;
      &:hover, &:active{
        color: $tomato;
      }
    }
    img:not(.emoji) {
      max-width: 95%;
      display: block;
      margin: 0 auto;
      &:hover{
        & + .img-desc{
          color: $blue;
        }
      }
    }
    li {
      > p:first-child {
        display: inline;
        font-weight: bold;
        text-transform: capitalize;
      }
      > p:not(:first-child) {
        padding-left: 1em;
      }
    }
    p {
      padding: .4em 0;
      line-height: 1.5em;
    }
    blockquote {
      padding: 1em 0 1em 1em;
      font-style: italic;
      border-left: thick solid darken(ghostwhite, 30%);
      background-color: ghostwhite;
    }
    li {
      list-style: square inside;
    }
    strong {
      font-weight: bold;
    }
    pre {
      overflow: auto;
    }
  }
  .poster{
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .comments {
    margin-top: 1em;
  }
}

// Comments
.comment-btn{
  background-color: $blue;
  color: $white;
  font-size: 1.2em;
  display: block;
  text-align: center;
  border: none;
  margin: 1em auto;
  padding: .3em .6em;
  cursor: pointer;
  font-family: inherit;
}

.related-articles {
  border-top: 1px dashed $lightGray;
  border-bottom: 1px dashed $lightGray;

  h3 {
    font-size: 1.2em;
    margin: 1em 0 .5em;
  }
  a:not(:first-child) {
    display: inline-block;
    padding: 1em 1em 1em 0;
  }
}

//footer about
footer {
  background-color: $black;
  color: $gray;
  line-height: 2em;
  .container {
    padding: 1em;
    display: flex;
    display: -webkit-flex;
    div{
      flex: 1;
      -webkit-flex: 1;
    }
    ul{
      list-style: square inside;
    }
    a{
      color: $gray;
      &:hover, &:active{
        color: $white;
      }
    }
  }
  h3{
    text-transform: uppercase;
  }
}

.archive {
  display: flex;
  margin-top: 2em;
  div{
    flex: 1;
  }

  h3 {
    font-size: 1.2em;
    padding: 1em 0 .5em;
  }
  li {
    padding: 0 0 1em 1em;
    time {
      display: inline-block;
      font-style: italic;
      color: gray;
    }
    a {
      display: inline-block;
    }
  }
}

// Icon
.icon{
  height: 16px;
  width: 16px;
  display: inline-block;
  opacity: .7;
  vertical-align: middle;
  &:hover, &:active{
    opacity: 1;
  }
}
